
my-favoris #settings {
    width: auto;
    position: absolute;
    top: -40px;
    right: 0%;
    padding: 20px 15px;
    margin-top: -20px;
    margin-left: -40px;
    color: rgba(255, 255, 255, 0.50);
    cursor: pointer;
    z-index: 9999;
    transition: all ease 280ms;
}
my-favoris #settings:hover {
    color: #fff;
    background: #333;
}
#btnForm {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: initial;
    font-size: initial;
    background: #333;
    color: #fff;
    padding: 2rem 4rem;
    transform: translateY(100%);
    transition: all ease 280ms;
    z-index: 9999;
}
#btnForm.open {
    box-shadow: 0 0 40px #000;
    transform: translateY(0%);
}
#btnForm.open #settings{
    color: #fff;
    background: #333;
}
#btnForm input {
    color: #fff;
}

.link {
    color: #fff;
    border: solid 2px #fff;
    padding-bottom: 2.5rem;
}