
my-meteo {
    font-size: initial;
    text-align: left;
    background:linear-gradient(0deg,rgba(0,0,0,.6),transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    padding: 1rem 1rem 1rem;
    color: rgba(255, 255, 255, 0.5);
    /* box-shadow: 0px -5px 20px 7px rgba(24, 25, 18, 0.8); */
}
my-meteo p {
    margin: 0 0 0 4rem;
    padding: 0;
    font-weight: 300;
}
my-meteo br{
    content: " / "
}
my-meteo br::after {
    content: " / "
}
my-meteo img {
    position: absolute;
    bottom: 1rem;
}