html, body {
    height: 100%;
    background-color:#333;
}
body {
    display: table;
    width: 100%;
}
my-app {
    position: fixed;
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
    background-color:#333;
    background-size:cover;
    font-size: 3.2rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
section {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.shadow {
    display: inline-block;
    margin: auto;
    width: auto;
    background: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
}
